# Python Crash Couse:

In [2]:
name='George'

num=5

'My number is {} and my name is {}'.format(num,name)

'My number is 5 and my name is George'

In [3]:
print('My number is {} and my name is {}'.format(num,name))

My number is 5 and my name is George

In [4]:
print 'My number is {} and my name is {}'.format(num,name)

My number is 5 and my name is George

In [5]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 5 and my name is George

In [11]:
s='HelloWorld'
print s[0]
print s[1]
print s[0:3]
print s[0:]
print s[:5]
print s[2:5]

H
e
Hel
HelloWorld
Hello
llo

In [12]:
#lists

my_list=['a','b','c']
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [13]:
my_list[0]='New'
my_list

['New', 'b', 'c', 'd']

In [14]:
nest=[1,2,[3,4]]

In [15]:
nest

[1, 2, [3, 4]]

In [16]:
nest[2]

[3, 4]

In [17]:
nest[2][1]

4

In [18]:
nest=[1,2,3,[4,5,['target']]]

In [19]:
nest[3][2][0]

'target'

In [20]:
nest[3]

[4, 5, ['target']]

In [21]:
nest[3][2]

['target']

In [23]:
nest[3][2][0]

'target'

### Dictionaries

In [33]:
d={'key1':'value', 'key2':123, 'key3':[1,2,3,4], 'key4':{'innerkey':[1,2,3]}}

In [34]:
d['key1']

'value'

In [35]:
d['key2']

123

In [36]:
d['key3']

[1, 2, 3, 4]

In [37]:
d['key3'][1:2]

[2]

In [38]:
d['key4']

{'innerkey': [1, 2, 3]}

In [39]:
d['key4']['innerkey']

[1, 2, 3]

In [40]:
d['key4']['innerkey'][2]

3

### Tuples

In [41]:
t=(1,2,3)

In [42]:
t[0]

1

In [43]:
#the difference between tuples and lists is that tuples are immutable

### Sets

In [44]:
{1,2,3,1,2,2,2,3}

{1, 2, 3}

In [45]:
set([1,2,2,2,2,3,4,5,6,6,6,6,6,6,7])

{1, 2, 3, 4, 5, 6, 7}

In [46]:
s=set([1,2,2,2,2,3,4,5,6,6,6,6,6,6,7])

In [47]:
s.add(10)

In [48]:
s

{1, 2, 3, 4, 5, 6, 7, 10}

#### Comparison Operators

In [49]:
(1<2) and (2>3)

False

In [50]:
(1<2) & (2>3)

False

In [51]:
(1<2) | (2>3)

True

In [52]:
(1<2) or (2>3)

True

### for and while loops

In [53]:
seq=[1,2,3,4,5]

In [54]:
for item in seq:
    print(item)

1
2
3
4
5

In [55]:
i=1
while i<5:
    print('i is:{}'.format(i))
    i=i+1

i is:1
i is:2
i is:3
i is:4

In [56]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [57]:
list(range(0,5))

[0, 1, 2, 3, 4]

### List Comprehension

In [59]:
x=[1,2,3,4]

In [61]:
out=[]
for num in x:
    out.append(num**2)

In [62]:
print(out)

[1, 4, 9, 16]

In [63]:
out

[1, 4, 9, 16]

In [64]:
# the same by using a list comprehension

[num**2 for num in x]

[1, 4, 9, 16]

In [65]:
out=[num**2 for num in x]
out

[1, 4, 9, 16]

### Functions

In [68]:
def my_func(param1):
    print('Hello '+ param1)

In [69]:
my_func('Jose')

Hello Jose

In [70]:
def square(num):
    return num**2

In [72]:
square(8)

64

In [74]:
def square(num):
    """
    THIS IS A COMMENT
    WITH MANY LINES 
    """
    return num**2

### map, lambda, filter

In [75]:
def times2(var):
    return var*2

In [76]:
times2(5)

10

In [77]:
seq=[1,2,3,4,5]

In [79]:
list(map(times2, seq)) # within map you set the function and the list

[2, 4, 6, 8, 10]

In [81]:
# the same with list comprehension
[num*2 for num in seq]

[2, 4, 6, 8, 10]

In [82]:
t=lambda var:var*2

In [83]:
t(6)

12

In [85]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10]

In [86]:
##filter
# returns only the even numbers

list(filter(lambda num: num%2==0, seq))

[2, 4]

In [87]:
d={'key1':'value', 'key2':123, 'key3':[1,2,3,4], 'key4':{'innerkey':[1,2,3]}}

In [88]:
d.items()

[('key3', [1, 2, 3, 4]),
 ('key2', 123),
 ('key1', 'value'),
 ('key4', {'innerkey': [1, 2, 3]})]

In [90]:
d.keys()

['key3', 'key2', 'key1', 'key4']

In [91]:
d.values()

[[1, 2, 3, 4], 123, 'value', {'innerkey': [1, 2, 3]}]

In [92]:
lst=[1,2,3,4,5,6]
lst.pop(3)

4

In [93]:
lst

[1, 2, 3, 5, 6]

In [94]:
# the in operator
'x' in [1,2,3]

False

In [97]:
'x' in ['x', 'y', 'z']

True

In [98]:
x=[(1,2), (3,4), (5,6)]

In [99]:
x

[(1, 2), (3, 4), (5, 6)]

In [100]:
x[0]

(1, 2)

In [101]:
for item in x:
    print item

(1, 2)
(3, 4)
(5, 6)

In [102]:
# tuple unpacking
for (a,b) in x:
    print (b)

2
4
6

In [103]:
###it works also without parenthesis
for a,b in x:
    print (b)

2
4
6

### Exercises

In [104]:
# split the text in a list
s='Hi there sam'
s.split()

['Hi', 'there', 'sam']

In [107]:
planet="earth"
diameter=12742
'the diameter of {a} is {b} kilometers'.format(a=planet, b=diameter)

'the diameter of earth is 12742 kilometers'

In [108]:
def domainGet(email):
    return email.split('@')[1]

In [109]:
domainGet('sergiopit@hotmail.com')

'hotmail.com'

In [115]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word=='dog':
            count=count+1
    return count

In [116]:
countDog('dog fdf fdsfsd dog fdff dog')

3

In [117]:
###Count the number of specific words in a text
def countW(st, w):
    count=0
    for word in st.lower().split():
        if word==w:
            count=count+1
    return count

In [118]:
countW('dog WORD word dog fdff dog', 'word')

2

In [119]:
# return the words that start with s
seq=['soup', 'dog', 'salad', 'cat', 'great']

list(filter(lambda word: word[0]=='s', seq))

['soup', 'salad']

In [120]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding=speed-5
    else:
        speeding=speed
        
    if speeding>80:
        return 'big ticket'
    elif speeding>60:
        return 'small ticket'
    else:
        return 'no ticket'

In [121]:
caught_speeding(81,True)

'small ticket'